#mainMenu > div {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#mainMenu > * + * {
	margin-top: 8px;
}

#mainMenu .error {
	color: var(--error-color);
	margin: 8px;
	padding: 4px 8px;
	width: 190px;
}