#bridgeSet {
	display: flex;
	flex-direction: column;
	height: 900px;
	position: relative;
	width: 800px;
}

#bridgeSet > div:first-child {
	align-items: flex-start;
	background-color: var(--panel-color);
	display: flex;
	flex-basis: 50%;
}

#bridgeSet > div:last-child {
	background-color: #304080;
	flex-basis: 50%;
	transition: height ease-out;
}