:root {
  --alert-background: #ff2020;
  --division-command: #cba135;
  --division-defense: #8a9a5b;
  --division-operations: #9f8170;
  --division-science: #6082b6;
  --error-color: #ff3020;
  --panel-color: #a8aab0;
  --panel-highlight: #c8cad0;
  --panel-shadow: #808288;
  --panel-text: #404248;
  --screen-background: #000008;
  --screen-border: #081040;
  --screen-border-disabled: #040820;
  --screen-highlight-dark: #020418;
  --screen-text: #2040c0;
  --screen-text-disabled: #606060;
}

@font-face {
  font-family: pixel-standard;
  src: url('./assets/fonts/pixelfj8pt1.normal.ttf');
}

@font-face {
  font-family: pixel-bold;
  src: url('./assets/fonts/manaspace.regular.ttf');
}

@font-face {
  font-family: pixel-large;
  src: url('./assets/fonts/Dico.ttf');
}

body {
  background-color: black;
}

#screenContainer {
  align-items: center;
  bottom: 0px;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
}

#viewport {
  box-shadow: 0px 0px max(10vh, 10vw) 0px #404040;
  color: white;
  /*cursor:url(./assets/images/UI/Pointer.png), default;*/
  font-family: pixel-standard;
  font-size: 8px;
  height: 480px;
  image-rendering: pixelated;
  min-width: 640px;
  overflow: hidden;
  position: relative;
  transform-origin: 50% 50%;
  width: 640px;
}

#viewport > div {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#viewport h1 {
  font-family: pixel-large;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#viewport h2 {
  font-family: pixel-bold;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.modal {
  background-color: var(--screen-text);
  background: url('./assets/images/ui/scanlines.png');
  border: solid 2px var(--screen-border);
  border-top-width: 0px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  position: relative;
  z-index: 10;
}

.modal::after {
  background-color: var(--screen-text);
  content: ' ';
  display: block;
  height: 10px;
  left: -2px;
  position: absolute;
  right: -2px;
  top: -10px;
  z-index: -2;
}

.modal h2 {
  text-align: center;
}

.modal p {
  color: var(--screen-text);
}

.modal > div:last-child {
  display: flex;
  justify-content: space-evenly;
}

.playerWidget {
	border: solid 2px var(--screen-border-disabled);
	display: flex;
	flex-direction: row !important;
	height: 36px;
	justify-content: space-between;
	max-width: 156px;
	overflow: hidden;
	width: 156px;
}

.playerWidget > div:first-child {
	background-color: black;
	border-right: solid 1px var(--screen-border-disabled);
	height: 36px;
	margin-right: 4px;
	min-width: 36px;
	width: 36px;
}

.playerWidget > div:last-child {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2px 6px 2px 0;
	white-space: nowrap;
}

.techPanel {
  background-color: var(--panel-shadow);
  color: var(--panel-text);
  cursor: default;
  padding: 20px;
  position: relative;
  z-index: 10;
}

.techPanel::before {
  background-color: var(--panel-highlight);
  bottom: 2px;
  content: ' ';
  display: block;
  left: 0px;
  position: absolute;
  right: 2px;
  top: 0px;
  z-index: -2;
}

.techPanel::after {
  background-color: var(--panel-color);
  bottom: 2px;
  content: ' ';
  display: block;
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: -1;
}

.techScreen {
  background-color: var(--panel-highlight);
  color: var(--screen-text);
  left: -10px; /* Padding causes an offset??? */
  overflow-y: auto;
  padding: 10px;
  position: relative;
  top: -10px; /* Padding causes an offset??? */
  z-index: 15;
}

.techScreen::before {
  background-color: var(--panel-shadow);
  bottom: 2px;
  content: ' ';
  display: block;
  left: 0px;
  position: absolute;
  right: 2px;
  top: 0px;
  z-index: -2;
}

.techScreen::after {
  background-color: var(--screen-background);
  background: url('./assets/images/ui/scanlines.png');
  background-attachment: fixed;
  bottom: 2px;
  content: ' ';
  display: block;
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: -1;
}

.techScreen button, .modal button, #viewScreen button {
  background-color: transparent;
  border: solid 2px var(--screen-border);
  box-shadow: 0px 2px black;
  color: white;
  font-family: pixel-standard;
  font-size: 8px;
  padding: 4px 8px;
}

.techScreen button[disabled], .modal button[disabled], #viewScreen button[disabled] {
  border-color: var(--screen-border-disabled);
  color: var(--screen-text-disabled);
}

.techScreen button:not([disabled]):hover, .modal button:not([disabled]):hover, #viewScreen button:not([disabled]):hover {
  background-color: var(--screen-border);
  border-color: var(--screen-text);
  cursor: pointer;
  text-shadow: 0 0 2px white;
}

.techScreen h1, .techScreen h2, .techScreen h3, .techScreen h4, .techScreen h5,
#viewScreen h1, #viewScreen h2, #viewScreen h3, #viewScreen h4, #viewScreen h5 {
  color: white;
}

.techScreen input[type='password'], .techScreen input[type='text'] {
  background-color: black;
  border: solid 2px var(--screen-border);
  border-radius: 0;
  color: white;
  font-family: pixel-standard;
  font-size: 8px;
  padding: 4px 8px;
}

.techScreen input[type='password']:hover, .techScreen input[type='text']:hover {
  border-color: var(--screen-text);
}

.techScreen input[type='password']:active, .techScreen input[type='text']:active {
  background-color: var(--screen-border);
  border-color: var(--screen-text);
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: transparent;
  pointer-events: none;
  height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url("./assets/images/ui/slider_thumb.png");
  cursor: pointer;
  height: 24px;
  pointer-events: all;
  position: relative;
  top: -12px;
  width: 24px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-position-y: 24px;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  background-color: black;
  border: solid 2px var(--screen-border-disabled);
  height: 2px;
  padding: 1px;
}

.techScreen input[type='range'].vertical {
  transform: rotate(270deg);
}

.techScreen.console > div:first-child {
	background-color: var(--screen-border);
  display: flex;
  justify-content: space-between;
	padding: 4px 8px;
}

.techScreen.console > div:first-child .alert {
  animation: alertFlash 1s infinite;
  background-color: var(--alert-background);
  color: white;
  padding: 2px 8px;
}

.techScreen.console > div:last-child > div:first-child {
	background-color: var(--screen-border);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px;
	width: 160px;
}

.techScreen.console #modeSelection {
	display: flex;
	flex-direction: column;
}

.techScreen.console #modeSelection button {
	background-image: url('./assets/images/ui/scanlines.png');
	box-shadow: none;
	margin: 0 -2px 4px -2px;
}

.techScreen.console #modeSelection button.selected {
	background-color: var(--screen-text);
	background-image: none;
	border: none;
	padding: 6px 8px;
	pointer-events: none;
}

.techScreen.console #modeSelection button:hover {
	background-image: none;
	box-shadow: none;
}

.techScreen.console > div:first-child > div:first-of-type {
	display: flex;
	flex-direction: column;
}

#consoleHelm > .techScreen > div:last-child {
	display: flex;
	flex-basis: 100%;
}

.stationTransitionDown {
  background-color: transparent;
  bottom: -40px;
  cursor: pointer;
  height: 20px;
  left: 40px;
  position: absolute;
  right: 40px;
  z-index: 50;
}

.stationTransitionDown::after {
  animation: arrowBounceDown 2s infinite;
  background: no-repeat center url("./assets/images/ui/arrow_down.png");
  bottom: 40px;
  content: ' ';
  cursor: pointer;
  height: 40px;
  left: 0px;
  position: absolute;
  right: 0px;
}

.stationTransitionLeft {
  background-color: transparent;
  bottom: 40px;
  cursor: pointer;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 20px;
  z-index: 50;
}

.stationTransitionLeft::after {
  animation: arrowBounceLeft 2s infinite;
  background: no-repeat center url("./assets/images/ui/arrow_left.png");
  bottom: 0px;
  content: ' ';
  cursor: pointer;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 40px;
}

.stationTransitionRight {
  background-color: transparent;
  bottom: 40px;
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: 40px;
  width: 20px;
  z-index: 50;
}

.stationTransitionRight::after {
  animation: arrowBounceRight 2s infinite;
  background: no-repeat center url("./assets/images/ui/arrow_right.png");
  bottom: 0px;
  content: ' ';
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 0px;
  width: 40px;
}

.stationTransitionUp {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 40px;
  position: absolute;
  right: 40px;
  top: -40px;
  z-index: 50;
}

.stationTransitionUp::after {
  animation: arrowBounceUp 2s infinite;
  background: no-repeat center url("./assets/images/ui/arrow_up.png");
  content: ' ';
  cursor: pointer;
  height: 40px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 40px;
}

.stationTransitionDown:hover, .stationTransitionLeft:hover, .stationTransitionRight:hover, .stationTransitionUp:hover {
  box-shadow: 0px 0px 50px yellow;
}

@keyframes alertFlash {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.1% {
    opacity: 0;
  }

  99.9% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes steppedFadeIn {
  from {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  25.1% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.25;
  }

  50.1% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.5;
  }

  75.1% {
    opacity: 0.75;
  }

  99.9% {
    opacity: 0.75;
  }

  to {
    opacity: 1;
  }
}

@keyframes steppedFadeOut {
	from {
		opacity: 1;
	}

  25% {
    opacity: 1;
  }

  25.1% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.75;
  }

  50.1% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.5;
  }

  75.1% {
    opacity: 0.25;
  }

  99.9% {
    opacity: 0.25;
  }

  to {
    opacity: 0;
  }
}

@keyframes arrowBounceDown {
  from {
    background-position-y: 75%;
  }

  10% {
    background-position-y: 75%;
  }

  50% {
    background-position-y: 50%;
  }

  90% {
    background-position-y: 75%;
  }

  to {
    background-position-y: 75%;
  }
}

@keyframes arrowBounceLeft {
  from {
    background-position-x: 25%;
  }

  10% {
    background-position-x: 25%;
  }

  50% {
    background-position-x: 50%;
  }

  90% {
    background-position-x: 25%;
  }

  to {
    background-position-x: 25%;
  }
}

@keyframes arrowBounceRight {
  from {
    background-position-x: 75%;
  }

  10% {
    background-position-x: 75%;
  }

  50% {
    background-position-x: 50%;
  }

  90% {
    background-position-x: 75%;
  }

  to {
    background-position-x: 75%;
  }
}

@keyframes arrowBounceUp {
  from {
    background-position-y: 25%;
  }

  10% {
    background-position-y: 25%;
  }

  50% {
    background-position-y: 50%;
  }

  90% {
    background-position-y: 25%;
  }

  to {
    background-position-y: 25%;
  }
}