#stationEngineeringSensors #bridgeSet {
	left: -10px;
	top: -360px;
	right: auto;
	transition: left 1s ease-out, right 1s ease-out, top 1s ease-out;
}

#stationEngineeringSensors.sensorsStation-enter-active #bridgeSet, #stationEngineeringSensors.sensorsStation-enter-done #bridgeSet {
	left: auto !important;
	right: 90px;
	top: -360px;
}

#stationEngineeringSensors #consoleEngineering {
	left: 40px;
	top: 60px;
	transition: left 1s ease-out, top 1s ease-out;
}

#stationEngineeringSensors #consoleSensors {
	right: -1000px;
	top: 60px;
	transition: right 1s ease-out, top 1s ease-out;
}

#stationEngineeringSensors.viewScreen-enter #bridgeSet, #stationEngineeringSensors.viewScreen-enter-done #bridgeSet {
	top: -10px;
	left: -40px;
}

#stationEngineeringSensors.viewScreen-enter-active #bridgeSet {
	top: -10px;
	left: -40px;
}

#stationEngineeringSensors.viewScreen-enter #consoleEngineering, #stationEngineeringSensors.viewScreen-enter-done #consoleEngineering {
	left: -20px;
	top: 456px;
}

#stationEngineeringSensors.viewScreen-enter-active #consoleEngineering {
	left: -20px;
	top: 456px;
}

#stationEngineeringSensors.viewScreen-enter #consoleSensors, #stationEngineeringSensors.viewScreen-enter-done #consoleSensors {
	top: 60px;
}

#stationEngineeringSensors.sensorsStation-enter-active #consoleSensors, #stationEngineeringSensors.sensorsStation-enter-done #consoleSensors {
	right: 40px;
	top: 60px;
}

#stationEngineeringSensors.sensorsStation-enter-active #consoleEngineering, #stationEngineeringSensors.sensorsStation-enter-done #consoleEngineering {
	left: -1000px;
	top: 60px;
}

#stationEngineeringSensors.sensorsStation-enter-done.viewScreen-enter #bridgeSet, #stationEngineeringSensors.sensorsStation-enter-done.viewScreen-enter-done #bridgeSet {
	top: -10px;
	right: 50px;
}

#stationEngineeringSensors.sensorsStation-enter-done.viewScreen-enter-active #bridgeSet {
	top: -10px;
	right: 50px;
}

#stationEngineeringSensors.sensorsStation-enter-done.viewScreen-enter #consoleSensors, #stationEngineeringSensors.sensorsStation-enter-done.viewScreen-enter-done #consoleSensors {
	right: -20px;
	top: 456px;
}

#stationEngineeringSensors.sensorsStation-enter-done.viewScreen-enter-active #consoleSensors {
	right: -20px;
	top: 456px;
}

#stationEngineeringSensors.sensorsStation-enter-active .stationTransitionLeft, #stationEngineeringSensors.sensorsStation-enter-active .stationTransitionUp, #stationEngineeringSensors.sensorsStation-exit-active .stationTransitionRight, #stationEngineeringSensors.sensorsStation-exit-active .stationTransitionUp {
	display: none;
}
